# Ignore list for Circuit Studio, Altium PCB design tool

*.LOG
*.WAS
*.zip
*.Dat
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
*.PrjPcbStructure
*~$*
/Logs
/Outputs
/__Previews
/History
/Default Configuration
